<div>
  <p>{{ recipeDetails.name }}</p>
  <div *ngFor="let image of recipeDetails.images">
    <img src="{{ image.imageUrlsBySize[360] }}" alt="" />

    <button
      (click)="
        saveToFavorites(
          recipeDetails.id,
          recipeDetails.name,
          image.imageUrlsBySize[90]
        )
      "
    >
      Save recipe
    </button>

    <button (click)="goBack()">Back</button>

    <a href="{{ recipeDetails.source.sourceRecipeUrl }}"
      >Cooking instructions</a
    >
  </div>
</div>
