ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.desktop ul li {
  display: inline-block;
  width: 25%;
}

#mobile-header {
  display: none;
}

.mobile {
  display: none;
}

.checkbox {
  height: 25px;
  width: 25px;
  text-align: center;
}

#search {
  width: 55rem;
  margin: 1rem;
  border-radius: 20px;
  height: 3rem;
  text-align: center;
}

.img {
  size: 400px;
}

#background-image {
  background: url(carrots-food-fresh-616404.jpg);
  background-repeat: center center fixed;
  background-size: cover;
  height: 35rem;
}

/* #desktop-header {
  padding: 2rem;
  padding-top: 3rem;
} */

@media only screen and (max-width: 600px) {
  #search {
    width: 100%;
    margin: 1rem 0rem;
    border-radius: 20px;
    height: 3rem;
    text-align: center;
  }

  h5 {
    padding-top: 1rem;
  }

  .desktop {
    display: none;
  }

  .mobile {
    padding-top: 1rem;
    display: flex;
    justify-content: center;
  }

  .checkbox {
    height: 1rem;
    width: 1rem;
    text-align: center;
  }

  #desktop-header {
    display: none;
  }

  #mobile-header {
    padding-top: 1rem;
    text-align: center;
    display: block;
  }

  h1 {
    text-align: center;
  }

}
