<div class="mx-auto">
  <h1 class="text-center display-1">Universal Recipe Locator</h1>
  <div class="container">
    <form [formGroup]="form" (ngSubmit)="handleRecipesSearch()">
      <input id="search" formControlName="searchString" placeholder="search" />

      <button class="btn btn-primary">Submit</button>

      <h4 class="text-center ">Select Allergies or type of course</h4>

      <div class="row p-4">
        <ul class="form-group form-check" formArrayName="options">
          <li
            *ngFor="let option of form.controls.options.controls; let i = index"
          >
            <input class="checkbox" type="checkbox" [formControlName]="i" />
            {{ options[i].name }}
          </li>
        </ul>
      </div>
    </form>
  </div>

  <div class="card-columns">
    <div class="card p-12" *ngFor="let recipe of recipes">
      <img
        class="card-img-top p-2 mb-4"
        src="{{ recipe.smallImageUrls }}"
        alt="Card image cap"
      />
      <div class="card-block">
        <h5 class="card-title text-center">{{ recipe.recipeName }}</h5>
        <p class="card-text text-center pb-4">
          <button
            class="btn btn-info mr-2"
            (click)="
              saveToFavorites(
                recipe.id,
                recipe.sourceDisplayName,
                recipe.smallImageUrls[0]
              )
            "
          >
            Save recipe
          </button>

          <a
            routerLink="/recipe/{{ recipe.id }}"
            class="btn btn-secondary"
            routerLinkActive="active"
            >Detail</a
          >
        </p>
      </div>
    </div>
  </div>
</div>
