<div class="mx-auto">
  <div id="background-image">
    <h1 class="text-center display-1 text-white pt-2 pb-4" id="desktop-header">Universal Recipe Locator</h1>
    <h4 class="text-center" id="mobile-header">Universal Recipe Locator</h4>
    <div class="container">
      <form [formGroup]="form" (ngSubmit)="handleRecipesSearch()">
        <input id="search" formControlName="searchString" placeholder="search" />

        <button class="btn btn-primary btn-lg">Submit</button>

        <h5 class="text-center ">Select Allergies or type of course</h5>

        <div class="row p-4 desktop">
          <ul class="form-group form-check" formArrayName="options">
            <li *ngFor="let option of form.controls.options.controls; let i = index">
              <input class="checkbox" type="checkbox" [formControlName]="i" />
              {{ options[i].name }}
            </li>
          </ul>
        </div>


        <div class="mobile">
          <ul class="form-group form-check" formArrayName="options">
            <li *ngFor="let option of form.controls.options.controls; let i = index">
              <input class="checkbox" type="checkbox" [formControlName]="i" />
              {{ options[i].name }}
            </li>
          </ul>
        </div>

      </form>
    </div>
  </div>


  <div class="d-flex">
    <div class="d-flex row flex-wrap justify-content-center">
      <div class="card m-2 shadow" style="width: 18rem;" *ngFor=" let recipe of recipes">
        <img class="card-img-top p-2 mb-4" src="{{ recipe.smallImageUrls }}" alt="Card image cap" />
        <div class="card-block">
          <h5 class="card-title text-center">{{ recipe.recipeName }}</h5>
          <p class="card-text text-center pb-4">

            <button *ngIf="userLoggedIn" class="btn btn-info mr-2" (click)="
                    saveToFavorites(
                      recipe.id,
                      recipe.sourceDisplayName,
                      recipe.smallImageUrls[0]
                    )
                  ">
              Save recipe
            </button>

            <a routerLink="/recipe/{{ recipe.id }}" class="btn btn-secondary" routerLinkActive="active">Detail</a>
          </p>
        </div>
      </div>
    </div>

  </div>
</div>
