<div class="row">
  <div class="column mx-auto m-8">
    <input [(ngModel)]="searchString" placeholder="search" />
    <button (click)="handleRecipeClick()">Search</button>
  </div>
</div>
<div *ngFor="let recipe of recipes" class="card w-50 m-4 mx-auto">
  <div class="row">
    <div class="col-md-4">
      <img src="{{ recipe.image }}" class="w-100 m-3" />
    </div>
    <div class="col-md-8 px-3">
      <div class="card-block px-3">
        <h4 class="card-title m-3">{{ recipe.recipeName }}</h4>
        <p class="card-text">
        {{ recipe.ingredients }}
        {{ recipe.course }}
        </p>
        <a href="#" class="btn btn-primary m-3">Read More</a>
      </div>
    </div>
  </div>
</div>
