


{{ savedRecipes | json}}

<div class="card-deck">
    <div *ngFor="let recipes of savedRecipes" class="card">
        <img class="card-img-top" src="{{recipes.image_url}}" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">{{recipes.recipe_name}}</h5>
          <div>
                <button
                class="btn btn-info mr-2"
                (click)="
                deleteRecipe(
                    recipes.id
                  )
                "
              >
                Delete
              </button>   
        </div>
          <div></div>
        </div>
      </div>
</div>